html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#root {
  flex: 1;
  margin: 20px auto;
}

#settings {
  padding: 20px;
}
details summary {
  font-weight: bold;
  cursor: pointer;
}
#rotate,
#zoom {
  width: 360px;
}

.content {
  width: 100%;
  border-radius: 5px;
  min-height: 20vh;
  padding: 10px 10px;
}
#content {
  min-height: 40vh;
}

.form-field {
  margin: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.form-field label {
  min-width: 13em;
  text-align: right;
  font-weight: bold;
}

.no-transition {
  transition: none !important;
}

@media screen and (max-width: 800px) {
  #settings {
    padding: 20px 10px;
  }
  .form-field label {
    min-width: 10em;
  }
  #rotate,
  #zoom {
    width: 270px;
  }
}
@media screen and (max-width: 600px) {
  .form-field label {
    min-width: 6em;
  }
  #rotate,
  #zoom {
    width: 180px;
  }
}

@media print {
  #settings {
    display: none;
  }
}
